:host {

  padding: 20px 40px;

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 60px;
  }

  #main-nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media (width > 768px) {
  :host {
    #main-nav {
      grid-template-columns: 1fr 1fr;
    }
  }
}
