$black: #18181b;
$white: #f9fafb;

$primary-color-50: #f2f4fc;
$primary-color-100: #e1e7f8;
$primary-color-200: #cad5f3;
$primary-color-300: #a6baea;
$primary-color-400: #7b97df;
$primary-color-500: #5c76d5;
$primary-color-600: #4356c7;
$primary-color-700: #3e4ab7;
$primary-color-800: #373d96;
$primary-color-900: #313777;
$primary-color-950: #222449;

$secondary-color-50: #f5f3ff;
$secondary-color-100: #ede9fe;
$secondary-color-200: #dcd6fe;
$secondary-color-300: #c3b5fd;
$secondary-color-400: #a58bfa;
$secondary-color-500: #885cf6;
$secondary-color-600: #793bed;
$secondary-color-700: #6928d9;
$secondary-color-800: #5821b6;
$secondary-color-900: #4a1d95;
$secondary-color-950: #2c1065;
