$black: #18181b;
$white: #f9fafb;

$primary-color-50: #f2f4fc;
$primary-color-100: #e1e7f8;
$primary-color-200: #cad5f3;
$primary-color-300: #a6baea;
$primary-color-400: #7b97df;
$primary-color-500: #5c76d5;
$primary-color-600: #4356c7;
$primary-color-700: #3e4ab7;
$primary-color-800: #373d96;
$primary-color-900: #313777;
$primary-color-950: #222449;
